# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
numpy
pandas
selenium
webdriver.manager
bs4
folium
plotly
seaborn
flourish
openpyxl
nbformat
prophet
statsmodels